[submodule "src/octomap"]
	path = src/octomap
	url = https://github.com/OctoMap/octomap.git
	version = v1.8.0
[submodule "github2pypi"]
	path = github2pypi
	url = https://github.com/wkentaro/github2pypi.git
